# Python stuffs.
**/.venv/
**/venv/
**/__pycache__/
**/.ruff_cache/

# Files should not not be exposed to the public
.env
.python-version
nameless.sqlite
nameless.cache

# Ignore lavalink stuffs
**/bin/*
!application.example.yml

.cache/
.pytest_cache/