# Local project files
.idea/workspace.xml
.idea/vcs.xml
.idea/inspectionProfiles/**
.idea/misc.xml
.idea/dataSources.xml

# :eyes:
**/__pycache__/**

# Files should not not be exposed to the public
nameless.db
*.lck
NamelessConfig.py
nameless/internals.json
nameless/internals.json.lck

# Why?
.coverage
.vscode/setting.json