SQLAlchemy==2.0.28
ossapi==3.4.4
discord.py==2.3.2
discord.py[speed]==2.3.2
reactionmenu==3.1.5
Wavelink==3.2.0
alembic==1.13.1
packaging==24.0
aiohttp==3.9.4
filelock==3.13.4
cachetools==5.3.3
